/themes/
/repository/
/build/
/buildproject/
/bin/
/libs/
/pear/
/publicmedia/
/installedpatch/
/securemedia/
/cache/
/framework/
/modules/
/media/
/log/
/override/
/mailbox/
/fckeditor/
/fckeditorbrowser/
/changeicons/
/.buildpath
/.project
/.settings/
/.computedChangeComponents.ser
/.htaccess
/change.properties
/change.xml
/changecron.php
/changescriptexec.php
/sessionKeepAlive.php
/site-disabled.php
/xchrome_controller.php
/xul_controller.php
*.DS_Store
configdatas.php
._*
/changecronconsole.php